{% extends 'Yks/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block page_header %}
  <h2>Редактирование профиля</h2>
{% endblock page_header %}

{% block content %}
  <form method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}

      <p>
          {% buttons %}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        {% endbuttons %}
      </p>
  </form>
    <p>
    <a href="{% url 'profile' user.username %}" class="btn btn-secondary">Отменить</a>
    </p>
{% endblock %}