{% extends 'Yks/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block page_header %}
  <h2>Профиль пользователя: {{ user.username }}</h2>
{% endblock page_header %}

{% block content %}
<div class="profile-container text-center">
    <div class="avatar-container">
      {% if user.userprofile.avatar %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <img src="{{ user.userprofile.avatar.url }}" alt="Аватар пользователя" class="avatar">
      {% else %}
        <p>Аватар: Нет изображения</p>
       {% endif %}
    </div>
    {% if user.userprofile.bio %}
        <p>О себе: {{ user.userprofile.bio }}</p>
      {% else %}
        <p>О себе: Нет информации</p>
      {% endif %}

    {% if is_owner %}
        <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-edit-profile">Редактировать профиль</a>
    {% endif %}
    <a href="{% url 'home' %}" class="btn btn-secondary">На главную</a>
</div>
{% endblock %}